body {
  margin: 0;
  text-align: center;
  background-color: #e2e8ff;
  font-family:  'Merriweather', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 0.625rem;
  width: 5%;
  margin: 3.125rem auto;
}

h1 {
  font-size: 5rem;
  font-family: 'Montez','long Cang', sans-serifs;
  margin: 3.125rem auto 0 auto;
  color: #11999E;
}

h2 {
  font-size: 2.5rem;
  color: #11999E;
  padding: 1.25rem auto;
}

h3 {
  color: #11999E;
}

a {
  text-decoration: none;
  padding: 0 0.625rem;
}

a:hover {
  color: #111d5e;
}
.head-hobbies {margin-left: 18.75rem;}

.footer-link {
  padding: 1.875rem;
  font-size: 1.25rem;
  text-decoration: none;
  color:#efbbcf ;
}

.footer-link:hover {
  color: #EAF6F6;
}



.top-cloud {
  position: absolute;
  right: 12.5rem;
  top: 3.125rem;
}

.bottom-cloud {
  position: absolute;
  bottom: 18.75rem;
  left: 3.125rem;
}

.chillies {
  float: right;
  margin-left: 6.25rem;
  width: 20%;
  margin-right: 0px;
}

.halpin {
  margin-right: 43.75rem;
  height: 5rem;
  width: 5rem;
}

.my-pic {
   height: 9.375rem;
  width: 9.375rem;
}

.skills1 {
  width: 20%;
  float: left;
  margin-right: 6.25rem;
}

.nit {
  font-size: 1rem;
  font-weight: normal;
  color: #11999E;

}

.top-container {
  margin: 0;
  position: relative;
  padding-top: 1.875rem;
}

.skill-row {
  width: 70%;
  margin: auto;
  text-align: left;
  line-height: 2;
}
.skill-row2 {
  width: 65%;
  margin: auto;
  text-align: left;
  line-height: 2;
}

/*.middle-container {background-color: #ffabe1;

}*/
.bottom-container {
  background-color: #11999E;
  padding: 3.125rem 0 1.25rem;
}

.btn {
  background: #1ED0D0;
  background-image: -webkit-linear-gradient(top, #1ED0D0, #E3E3E3);
  background-image: -moz-linear-gradient(top, #1ED0D0, #E3E3E3);
  background-image: -ms-linear-gradient(top, #1ED0D0, #E3E3E3);
  background-image: -o-linear-gradient(top, #1ED0D0, #E3E3E3);
  background-image: -webkit-gradient(to bottom, #1ED0D0, #E3E3E3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 50px;
  line-height: 50px;
  color: #FDFFFD;
  font-family: 'Kirang Haerang', Merriweather, sans-serif;
  width: 200px;
  font-size: 22px;
  font-weight: 100;
  padding: 0;
  -webkit-box-shadow: 4px 0 18px 2px #031600;
  -moz-box-shadow: 4px 0 18px 2px #031600;
  box-shadow: 4px 0 18px 2px #031600;
  text-shadow: 1px 1px 20px #7477B5;
  border: solid #8A33ED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #90D6D6 4px;
  background: #84B6B3;
  background-image: -webkit-linear-gradient(top, #84B6B3, #3D94F6);
  background-image: -moz-linear-gradient(top, #84B6B3, #3D94F6);
  background-image: -ms-linear-gradient(top, #84B6B3, #3D94F6);
  background-image: -o-linear-gradient(top, #84B6B3, #3D94F6);
  background-image: -webkit-gradient(to bottom, #84B6B3, #3D94F6);
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  border-radius: 36px;
  text-decoration: none;
}

.p2 {
  line-height: 2;
  font-size: 1.25rem;
}
.two-list {columns: 12.5rem 2;}

/*.list {
  margin-left: 218px;
}*/


.hobbies {
  
   line-height: 3;
  font-size: 1.25rem;
padding-right: 6.25rem;
margin-left: 18.75rem;
}

.cheers {
  line-height: 2;
}

.p3 {
  line-height: 4;
  font-size: 1.25rem;
}
